.periodo-filtros {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  margin-left: -20px;
  width: calc(100% + 40px);
  padding: 15px 20px 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  margin-top: 10px;
}

.filtro-grupo {
  display: block;
  width: 200px;
  /*align-items: center;*/
  gap: 0;
}

.filtro-grupo label {
  display: none;
  
}

/* === SELECT PRINCIPAL === */
.filtro-grupo select {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f7f7f7; 
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
  min-width: auto;
  outline: none;
  width: 220px;
  color: #333;
}

/* Hover */
.filtro-grupo select:hover {
  border-color: #888;
  background-color: #eaeaea; /* un gris más notorio al pasar el mouse */
}


.filtro-grupo select:focus {
  border-color: #999;
  background-color: #dcdcdc; 
  box-shadow: none; 
}

/* Opciones dentro del desplegable */
.filtro-grupo select option {
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
}

/* Opción seleccionada dentro de la lista */
.filtro-grupo select option:checked {
  background-color: #bdbdbd;
  color: white;
}

/* Estado activo cuando el usuario abre la lista */
.filtro-grupo select:active {
  background-color: #d3d3d3;
}
